.resumeSction {
  position: relative !important;
  padding-top: 110px !important;
  padding-bottom: 30px !important;
  background-image: var(--section-background-color) !important;
  color: white !important;
}

.resumeSctionRow {
  justify-content: center !important;
  position: relative;
}

.resume {
  padding-top: 50px;
  padding-bottom: 50px;
  justify-content: center;
}